* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Poppins" !important;
}
/*--navigation--*/
.navigation {
    z-index: 1;
    width: 100%;
    line-height: 96px;
    height: 96px;
    background: #fff;
    position: fixed;
    padding: 0 96px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 500ms ease-out;
    font-family: Poppins !important;
}
.navigation.scrolled {
    background-color: #fff !important;
    transition: background-color 500ms linear;
    -webkit-box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-out;
}
.navigation #brand {
    float: left;
    display: block;
}
.navigation #brand a:hover {
    text-decoration: none;
}
.navigation #menu {
    float: right;
}
.navigation #menu li {
    margin-left: 60px;
    position: relative;
    display: inline-block;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.navigation #menu li a {
    color: #000;
    transition: all 500ms ease-out;
    text-decoration: none;
}
.navigation #menu li a:hover {
    color: #FF4B1F;
    transition: all 500ms ease-out;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 12px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    width: 32px;
    height: 30px;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    line-height: 96px;
}
.close-btn {
    position: absolute;
    right: 30px;
    font-weight: 300;
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    top: -2px;
    line-height: 96px;
}
#resize {
    z-index: 2;
    top: 0px;
    position: fixed;
    background: #131415;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}
#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}
#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 38px;
    text-transform: uppercase;
    min-height: 50px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}
#resize li:nth-child(1) {
    margin-top: 140px;
}
#resize #menu li a {
    color: #fff;
}
#resize #menu li a:hover {
    text-decoration: none;
    color: #FF4B1F;
}
#resize.active {
    visibility: visible;
    opacity: 1;
}

/*--header--*/
/*.overlay {
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0.1));
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}*/

.header {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000;
}
.header h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 24px;
}
.header p {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 48px;
}
.header-work {
    position: relative;
    top: 96px;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.header-work h1 {
    font-size: 48px;
    margin-bottom: 48px;
    border-left: 8px solid #fff;
    font-weight: 600;
    padding-left: 16px;
}
.header-work p {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 32px;
}

/*--work--*/
.overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 20%, rgba(0,0,0,0));
    border-radius: 0 0 8px 8px;
    position: absolute;
    min-height: 60%;
    width: 100%;
    left: 0;
    bottom: 0;
}
.overlay-work {
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}


.my-card {
    margin-bottom: 48px;
}

.card {
    height: 560px;
    padding: 24px;
    border-radius: 8px;
    color: #fff;
    border: unset;
    background: #e8ecf1;
    opacity: 0.9;
}
.card:hover {
    -webkit-box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-out;
    opacity: 1;
    transform: scale(1.01);
}

.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 24px;
}
.read-more span {
    font-size: 12px;
}

.intro {
    margin: 0 auto;
    padding: 180px 24px;
    color: #000;
}

/*--footer--*/
footer {
    padding: 48px;
    height: auto;
    text-align: center;
    justify-content: center;
}