@media (max-width: 900px) {
  .image-container {
    background: url('../media/workspace-mobile.jpg') no-repeat center top;
    background-size: cover;
  }
  .header h1 {
    font-weight: 600;
    font-size: 40px !important;
    margin-top: 66px;
  }
  .header-work {
    position: relative;
    top: 96px;
    padding: 24px;
    color: #fff;
  }
  .header-work h1 {
    font-size: 32px;
  }

  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  .navigation {
    padding: 0;
  }

  .navigation #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 18px;
    font-family: 'Poppins' !important;
    font-weight: lighter !important;
    color: #fff !important;
    transition: all 500ms ease-out;
  }

  .navigation #menu {
    display: none;
  }

  .feature-title {
    font-size: 32px;
  }

  .card {
    opacity: 1 !important;
  }
}

@media (min-width: 900px) {
  #resize {
    visibility: hidden !important;
  }
}
