@media(max-width: 900px) {
    .image-container {
        background: url('../media/workspace-mobile.jpg') no-repeat center top;
        background-size: cover;
    }
    .header h1 {
        font-weight: 400;
        font-size: 40px !important;
        text-align: center;
        margin-top: 96px;
    }
    .header p {
        text-align: center;
    }

    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    .navigation {
        padding: 0;
    }

    .navigation #brand {
        margin-left: 10px;
    }

    #resize ul li a {
        font-size: 24px;
        font-family: "Poppins" !important;
        font-weight: lighter !important;
        color: #fff !important;
        transition: all 500ms ease-out;
    }

    .navigation #menu {
        display: none;
    }
    
    .feature-title {
        font-size: 32px;
    }
}

@media(min-width: 900px) {
    #resize {
        visibility: hidden !important;
    }
}
  