html {
    min-width: 320px;
}

@media (max-width: 575px) {
}

@media (max-width: 767px) {
    .header {
        padding: 24px;
    }
    .header h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .header p {
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 24px;
    }
    .header button {
        width: 100%;
        margin-bottom: 16px;
    }
    .mission {
        padding: 54px 24px;
    }
    .mission h1, .box-text h1 {
        font-size: 32px;
        margin-bottom: 24px;
    }
    .mission p, .box-text p {
        font-size: 18px;
        margin-bottom: 24px;
    }
    .value {
        margin: 0;
    }
    .focus {
        margin: 24px 0px;
    }
    .focus h1 {
        font-size: 26px;
        margin-bottom: 18px;
    }
    .how-text {
        padding: 24px;
    }
    .fancy-title {
        padding: 24px;
    }

}

@media (max-width: 991px) {
    .box-text {
        padding: 48px 24px;
    }
}

@media (max-width: 1199px) {}